html {
	background-color: white;
	width: 100%;
	height: 100%;
}
body {
	font-family: Arial;
	min-width: auto;
	min-height: auto;
	margin: 1em 1em 1em 1em;
}

body.dark {
	background-color: black;
	color: white;
}

header {
	background-color: #0094FC;
	border-top: #0094FC solid 10px;
	border-left: #0094FC solid 10px;
	padding: 3px;
	height: 100px;
}

.vertical-menu {
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 3px;
	margin-left: -5px;
	text-align: center;
}

.vertical-menu a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 1.7em 1.7em 1.7em 2em;
	text-decoration: none;
}

.vertical-menu a:hover {
	background-color: #ccc;
}

.vertical-menu a.active {
	background-color: #0094FC;
	color: white;
}

h1#h1header {
	color: white;
	margin-left: 5px;
}

img {
	max-width: 100% ;
	width: auto ;
	height: auto ;
}
input, select, button, textarea {
	max-width: 100% ;
}
meter, progress, output {
	max-width: 100% ;
}
div#tswsidecol {
	padding-top: 10px;
	float: right ;
	width: 20% ;
	color: #000 ;
	background-color: #fff ;
	font-weight: bold;
	
}
div#tswcontent {
	float: right ;
	width: 80% ;
	color: #000 ;
	background-color: #fff;
	
}
@media only screen and (max-width: 629px) {
	div#tswsidecol {
		float: none ;
		width: 100% ;
	}
	div#tswcontent {
		float: none ;
		width: 100%;
	}
	
}
div#tswcontproper {
	padding-left: 10px ;
	padding-right: 5px ;
}
div#tswcontainer {
	color: inherit ;
	background-color: #fff ;
}
div#tswsideproper, div#tswothersideproper {
	padding-left: 5px ;
	padding-right: 5px ;
}

div#tswfootercontainer {
	margin-top: auto;
	margin-bottom: auto;
	padding: 5px;
	clear: both;
}

div#tswfooter {
	background-color: #0094FC;
	text-align: right;
	font-size: 0.9em;
	font-weight: bold;
	color: white;
	padding: 1em;
}
div#google_translate_element {
	text-align: left;
	margin-top: -3em;
	left: 7;
}

button {
	background-color: dodgerblue;
	border-color: dodgerblue;
	color: white;
	cursor: pointer;
	font-size: 12px;
	font-weight: solid;
	margin-top: 1px;
	text-transform: capitalize;
}